.avg-price-hint {
  width: 90px;
  height: 113px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2.89855px 7.24638px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.24638px);
  border-radius: 14.4928px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px;

  &__scale {
    width: 5.8px;
    height: 100%;
    left: 8.7px;
    top: 37.68px;
    background: linear-gradient(180deg, #FC541F 0.89%, #FC541F 0.9%, #9B35C5 50.45%, #00ACFF 100%);
    border-radius: 14.4928px;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 14px;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 13px;

      &--high {
        color: #FC541F;
      }

      &--medium {
        color: #9F37BE;
      }

      &--low {
        color: #169CF7;
      }
    }
  }

  &__title {
    font-size: 13px;
    font-weight: bold;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
}

@media screen and (max-width: 640px) {
  .avg-price-hint {
    width: 70px;
    height: 84px;
    font-size: 10px;
    padding: 7px 9px;
    gap: 12px;
    border-radius: 10px;

    &__title {
      font-size: 10px;
    }
    &__scale {
      &-text {
        gap: 12px;
        font-size: 10px;
      }
    }
  }
}
